@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Styles*/
.body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #0B0B0B;
  color: #FFFFFF;
  line-height: 24px;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*__header, menu, nav__*/
.mobile-menu__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15% 5% 0;
  background-color: #0b0b0b;
  z-index: 1;
}
.mobile-menu__item {
  margin: 3% 0 6%;
  color: #FFFFFF;
}

.header__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  line-height: 24px;
  transition: all 500ms;
}
.header__logo {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.header__menu {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  left: 85%;
  top: 15px;
}
.header__menu span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  transition: all 0.5s;
}
.header__menu span:nth-of-type(2) {
  top: calc(50% - 8px);
}
.header__menu span:nth-of-type(3) {
  top: calc(50% + 8px);
}
.header__nav {
  display: block;
}

.nav__body {
  display: flex;
}
.nav__item {
  margin: 0 10%;
  color: #0b0b0b;
  font-family: "IBM Plex Sans Devanagari", sans-serif;
}

@media (min-width: 599px) {
  .header__body {
    padding: 30px 35px;
  }
  .header__menu {
    width: 40px;
    height: 40px;
    left: 87%;
    top: 21px;
  }
  .header__menu span {
    width: 40px;
    height: 3px;
  }
  .header__menu span:nth-of-type(2) {
    top: calc(50% - 10px);
  }
  .header__menu span:nth-of-type(3) {
    top: calc(50% + 10px);
  }
}
@media (min-width: 765px) {
  .mobile-menu__body {
    padding: 12% 5% 12%;
  }
  .mobile-menu__item {
    font-size: 24px;
    margin: 5% 0;
  }
  .header__body {
    padding: 45px 50px;
  }
  .header__menu {
    width: 40px;
    height: 40px;
    left: 90%;
    top: 28px;
  }
  .header__menu span {
    width: 40px;
    height: 4px;
  }
  .header__menu span:nth-of-type(2) {
    top: calc(50% - 12px);
  }
  .header__menu span:nth-of-type(3) {
    top: calc(50% + 12px);
  }
}
@media (min-width: 1023px) {
  .header__body {
    padding: 25px 25px;
  }
  .header__menu {
    display: none;
  }
  .header__nav {
    display: block;
  }
}
.intro {
  background-image: url("../IMG/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.intro__body {
  padding: 150px 7% 150px 7%;
}
.intro__line {
  margin: 15px 0;
  height: 2px;
  width: 50%;
  background-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
  background-size: cover;
}
.intro__header {
  font-size: 25px;
  line-height: 40px;
  font-weight: 700;
}

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slick-slide {
  width: 100%;
  padding: 40px 2% 0;
  font-size: 12px;
}
.slick-dots {
  display: none;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  list-style: none;
}
.slick-dots button {
  font-size: 0px;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 15px;
}

li.slick-active button {
  opacity: 0.54;
}

.slider {
  position: relative;
  margin: 2% 2% 20%;
  padding-bottom: 30px;
  background-image: linear-gradient(90deg, rgba(6, 5, 0, 0) 0%, #51026C 100%);
}
.slider__title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}
.slider .slick-arrow {
  position: absolute;
  z-index: 5;
  height: 18px;
  width: 18px;
  font-size: 0px;
  top: 50%;
  background-color: rgba(47, 14, 210, 0);
  opacity: 0.8;
}
.slider .slick-prev {
  background-image: url("../IMG/icons/arrowLeft.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 2%;
}
.slider .slick-next {
  background-image: url("../IMG/icons/arrowRight.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  right: 2%;
}

@media (min-width: 599px) {
  .intro__underline {
    font-size: 20px;
  }
}
@media (min-width: 765px) {
  .slider {
    position: relative;
    margin: 10% 10%;
    padding-bottom: 30px;
    background-image: linear-gradient(90deg, rgba(6, 5, 0, 0) 0%, #51026C 100%);
  }
  .slider__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .slider .slick-arrow {
    position: absolute;
    z-index: 5;
    height: 18px;
    width: 18px;
    font-size: 0px;
    top: 50%;
    background-color: rgba(47, 14, 210, 0);
    opacity: 0.8;
  }
  .slider .slick-prev {
    background-image: url("../IMG/icons/arrowLeft.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 2%;
  }
  .slider .slick-next {
    background-image: url("../IMG/icons/arrowRight.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: 2%;
  }
}
@media (min-width: 900px) {
  .slick-slide {
    width: 100%;
    padding: 120px 50px 50px 4%;
  }
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-dots li {
    list-style: none;
  }
  .slick-dots button {
    font-size: 0px;
    width: 8px;
    height: 8px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 15px 5px;
  }
  .slider {
    margin: 5%;
    padding-bottom: 80px;
  }
  .slider__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 35px;
  }
  .slider .slick-arrow {
    height: 15px;
    width: 15px;
    top: 100%;
    background-color: rgba(47, 14, 210, 0);
    opacity: 0.54;
    margin: -110px;
  }
  .slider .slick-prev {
    background-image: url("../IMG/icons/arrowLeft.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%;
  }
  .slider .slick-next {
    background-image: url("../IMG/icons/arrowRight.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: 50%;
  }
  .intro__body {
    padding: 250px 7% 250px 7%;
  }
  .intro__header {
    font-size: 45px;
    line-height: 72px;
  }
  .intro__line {
    height: 3px;
    margin: 20px 0 35px;
  }
  .intro__underline {
    font-size: 24px;
  }
}
.main-content {
  flex: 0 1 auto;
}
.main-content__body {
  display: flex;
  flex-direction: column;
}

.services__body {
  padding: 7%;
}
.services__title-main {
  font-size: 36px;
  font-weight: 700;
}
.services__button {
  margin: 20% 0 12% 0;
}

.service__body {
  margin: 12% 0;
}
.service__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}
.service__info {
  position: -webkit-sticky;
  position: sticky;
  top: 35px;
  width: 100%;
  border: 3px solid #51026C;
  -o-border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
     border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
  border-image-slice: 1;
  border-radius: 2%;
  padding: 8%;
}
.service__list {
  padding: 2%;
  opacity: 0.8;
  line-height: 24px;
}
.service__item {
  margin: 6% 6%;
}
.service__item::before {
  content: "–";
  display: inline-block;
  width: 15px;
  margin-left: -15px;
}
.service__button {
  margin-top: 10%;
  font-size: 14px;
}
.service__img-block {
  width: 50%;
  display: none;
}

.summary__body {
  background-color: #F4F4F4;
  color: #0E0E0E;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summary__info {
  padding: 10% 5%;
}
.summary__button {
  margin-top: 10%;
}
.summary__img-block {
  display: none;
}

.about-us__body {
  background-color: #F4F4F4;
  color: #0E0E0E;
  padding: 10% 5%;
}

.achivements__body {
  background-color: #F4F4F4;
  color: #0E0E0E;
  padding: 10% 5%;
}
.achivements__blocks {
  display: flex;
  flex-wrap: wrap;
}

.achivement__body {
  margin: 0 auto;
}
.achivement__title-img {
  margin: 10% 0;
}

@media (min-width: 599px) {
  .services__body {
    padding: 4% 7%;
  }
  .services__button {
    margin: 7% 0;
  }
  .service__body {
    margin: 12% 0;
    font-size: 16px;
  }
  .service__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  .service__info {
    width: 100%;
    border: 3px solid #51026C;
    -o-border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
       border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
    border-image-slice: 1;
    border-radius: 2%;
    padding: 8%;
  }
  .service__list {
    padding: 0 3%;
    opacity: 0.8;
    line-height: 24px;
  }
  .service__item {
    margin: 6% 6%;
  }
  .service__item::before {
    margin-left: -25px;
    padding-right: 26px;
  }
  .service__button {
    margin-top: 7%;
    font-size: 14px;
  }
  .summary__info {
    padding: 7% 5%;
  }
  .about-us__body {
    padding: 7% 5%;
  }
  .achivements__body {
    padding: 7% 5%;
  }
  .achivement {
    width: 100%;
  }
  .achivement__body {
    text-align: left;
  }
  .achivement__title-img {
    margin: 5% 0 8%;
  }
}
@media (min-width: 765px) {
  .services__button {
    margin: 10% 0 5% 0;
  }
  .services__body {
    padding: 4%;
  }
  .service__body {
    margin: 12% 0;
    font-size: 16px;
  }
  .service__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  .service__info {
    width: 100%;
    border: 3px solid #51026C;
    -o-border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
       border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
    border-image-slice: 1;
    border-radius: 2%;
    padding: 5%;
  }
  .service__list {
    padding: 0 3%;
    opacity: 0.8;
    line-height: 24px;
  }
  .service__item {
    margin: 3% 0%;
  }
  .service__item::before {
    margin-left: -20px;
    padding-right: 20px;
  }
  .service__button {
    margin-top: 3%;
    font-size: 14px;
  }
  .summary__info {
    padding: 5% 5%;
    width: 50%;
  }
  .summary__img-block {
    display: block;
    height: 100%;
    width: 50%;
    text-align: center;
  }
  .summary__img {
    width: 100%;
    height: 100%;
  }
  .about-us__body {
    padding: 5% 5%;
  }
  .achivements__body {
    padding: 10% 5%;
  }
  .achivements__title {
    margin-bottom: 3%;
  }
  .achivement {
    width: 50%;
  }
  .achivement__body {
    text-align: left;
  }
  .achivement__title-img {
    margin: 10% 0;
  }
}
@media (min-width: 900px) {
  .services__button {
    margin: 10% 0 5% 0;
  }
  .service__body {
    margin: 12% 0;
    font-size: 16px;
  }
  .service__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  .service__info {
    width: 100%;
    border: 3px solid #51026C;
    -o-border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
       border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
    border-image-slice: 1;
    border-radius: 2%;
    padding: 8%;
  }
  .service__list {
    padding: 0 3%;
    opacity: 0.8;
    line-height: 24px;
  }
  .service__item {
    margin: 6% 4%;
  }
  .service__item::before {
    margin-left: -30px;
    padding-right: 30px;
  }
  .service__button {
    margin-top: 3%;
    font-size: 14px;
  }
  .summary__info {
    padding: 5% 0 5% 5%;
    width: 50%;
  }
  .summary__img-block {
    display: block;
    width: 50%;
  }
  .summary__img {
    width: 312px;
    height: 285px;
  }
  .about-us__body {
    padding: 5% 5%;
  }
  .achivements__body {
    padding: 10% 5%;
  }
  .achivements__title {
    margin-bottom: 3%;
  }
  .achivement {
    width: 50%;
  }
  .achivement__body {
    text-align: left;
  }
  .achivement__title-img {
    margin: 10% 0;
  }
}
@media (min-width: 1023px) {
  .services__title-main {
    font-size: 56px;
  }
  .service__body {
    margin: 8% 0;
    display: flex;
  }
  .service__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  .service__info {
    width: 50%;
    border: 3px solid #51026C;
    -o-border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
       border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
    border-image-slice: 1;
    border-radius: 2%;
    padding: 5%;
  }
  .service__list {
    padding: 2%;
    opacity: 0.8;
    line-height: 24px;
  }
  .service__item {
    margin: 4% 0%;
  }
  .service__item::before {
    content: "–";
    display: inline-block;
    width: 10px;
    margin-left: -10px;
    margin-right: -15px;
  }
  .service__button {
    margin-top: 0%;
    font-size: 14px;
  }
  .service__img-block {
    width: 50%;
    display: block;
    margin-left: 2%;
  }
  .service__img {
    width: 100%;
    height: 100%;
  }
  .summary__text {
    font-size: 24px;
    line-height: 36px;
  }
  .summary__img-block {
    height: 100%;
    width: 50%;
  }
  .about-us__text {
    width: 85%;
    font-size: 24px;
    line-height: 36px;
  }
  .achivement__body {
    text-align: center;
  }
}
.footer__body {
  display: flex;
  flex-wrap: wrap;
  padding: 7%;
  font-size: 14px;
}
.footer__desc {
  margin-bottom: 5%;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 5%;
}
.footer__icon-button {
  background-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
  border-radius: 25%;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}
.footer__corporate {
  width: 100%;
}
.footer__services {
  width: 100%;
}
.footer__list {
  display: none;
  line-height: 30px;
}
.footer__title-small {
  cursor: pointer;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
  padding-left: 30px;
}
.footer__title-small::before, .footer__title-small::after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  width: 10px;
  height: 1px;
  top: 12px;
}
.footer__title-small::before {
  left: 0;
  transform: rotate(40deg);
}
.footer__title-small::after {
  left: 7px;
  transform: rotate(-40deg);
}
.footer__title-small.active::before {
  transform: rotate(-40deg);
}
.footer__title-small.active::after {
  transform: rotate(40deg);
}
.footer__place {
  margin-top: 25px;
  width: 100%;
  line-height: 30px;
}
.footer__contact {
  margin-top: 15px;
}

@media (min-width: 599px) {
  .footer__desc {
    width: 70%;
  }
}
@media (min-width: 900px) {
  .footer__body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 4%;
    font-size: 14px;
  }
  .footer__desc {
    margin-bottom: 5%;
  }
  .footer__social {
    width: 50%;
  }
  .footer__socials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
  }
  .footer__corporate {
    width: 25%;
  }
  .footer__services {
    width: 25%;
  }
  .footer__list {
    display: block;
    line-height: 30px;
  }
  .footer__title-small {
    cursor: default;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 15px;
    padding: 0;
  }
  .footer__title-small::before, .footer__title-small::after {
    content: none;
  }
  .footer__place {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;
    padding-right: 8%;
    width: 100%;
    line-height: 30px;
  }
  .footer__contact {
    margin-top: 15px;
  }
}
.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10%;
  line-height: 46px;
}

.button {
  border: 3px solid #51026C;
  -o-border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
     border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
  border-image-slice: 1;
  border-radius: 5%;
  color: #FFFFFF;
  background-color: #0B0B0B;
  padding: 14px 32px;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
}

.button-filled {
  border-radius: 5%;
  background-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);
  padding: 17px 35px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  margin-left: 8px;
}

.logo {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}

@media (min-width: 599px) {
  .title {
    margin-bottom: 7%;
  }
}
@media (min-width: 765px) {
  .mobile-menu__item:last-child {
    font-weight: 400;
    font-size: 24px;
  }
  .title {
    margin-bottom: 7%;
    font-size: 36px;
  }
  .logo {
    font-size: 20px;
  }
}
@media (min-width: 1023px) {
  .title {
    font-size: 56px;
    margin-bottom: 5%;
  }
}