.contact{
   &__body{
      padding: 8%;
      font-size: 16px;
      line-height: 24px;
   }
   &__desc{
      text-align: justify;
   }
}
.form{
   &__body{
      display: flex;
      flex-direction: column;
      margin: 40px 0 120px;
      color: $font-color;
   }
   &__text{
      background-color: #181818;
      color: $font-color;
      opacity: 0.6;
      padding: 16px;
      margin: 10px 0 25px;
      width: 260px;
      border: 2px solid $font-color;
      border-radius: 5px;
   }
   #help{
      height: 140px;
      resize: none;
   }
   &__button{
      width: 200px;
   }
}

@media(min-width: 765px){
   .contact{
      &__body{
         width: 560px;
         padding: 8%;
         font-size: 16px;
         line-height: 24px;
      }
   }
   .form{
      &__body{
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         margin: 40px 0 120px;
         color: $font-color;
      }
      &__desc{
         width: 50%;
      }
      &__text{
         background-color: #181818;
         color: $font-color;
         opacity: 0.6;
         padding: 16px;
         margin: 10px 0 25px;
         width: 260px;
         border: 2px solid $font-color;
         border-radius: 5px;
      }
      #help{
         height: 140px;
         resize: none;
      }
      &__button{
         width: 200px;
      }
   }
}