.footer{
   &__body{
      display: flex;
      flex-wrap: wrap;
      padding: 7%;
      font-size: 14px;
      border-top: 2px solid #3c3c3cab;
   }
   &__desc{
      margin-bottom: 5%;
   }
   &__socials{
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin-bottom: 5%;
   }
   
   &__icon-button{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      border:2px solid transparent;
      border-radius:10px;
      border-left-color:#300ED2;
      border-right-color:#D501FF;
      background:
         linear-gradient(90deg, #300ED2 10%, #D501FF 90%) top/100% 2px,
         linear-gradient(90deg, #300ED2 10%, #D501FF 90%) bottom/100% 2px;
      background-repeat:no-repeat;
      transition: all 500ms ease;
      &:hover{
         border-radius: 0;
         width: 50px;
         background-size: 100% 0;
         background-repeat:no-repeat;
         transition: all 500ms ease;
      }
   }
   &__corporate{
      width: 100%;
   }
   &__services{
      width: 100%;
   }
   &__list{
      display: none;
      line-height: 30px;
   }
   &__item:hover{
      cursor: pointer;
      text-decoration: underline;
      opacity: 0.8;
   }
   &__title-small{
      cursor: pointer;
      position: relative;
      font-size: 24px;
      font-weight: 700;
      margin: 20px 0;
      padding-left: 30px;
      &::before, &::after{
         content: "";
         position: absolute;
         background-color: $font-color;
         width: 10px;
         height: 1px;
         top: 12px
      }
      &::before{
         left: 0;
         transform: rotate(40deg);
      }
      &::after{
         left: 7px;
         transform: rotate(-40deg);
      }
      &.active::before{
         transform: rotate(-40deg);
      }
      &.active::after{
         transform: rotate(40deg);
      }
   }
   &__place{
      margin-top: 25px;
      width: 100%;
      line-height: 30px;
   }
   &__contact{
      line-height: 65px;
   }
}
@media (min-width: 599px)
{
   .footer{
      &__desc{
         width: 70%;
      }
   }
}
@media (min-width: 900px){
   .footer{
      &__body{
         display: flex;
         flex-wrap: wrap;
         align-items: flex-start;
         padding: 4% 4% 2%;
         font-size: 14px;
      }
      &__desc{
         margin-bottom: 5%;
      }
      &__social{
         width: 50%;
      }
      &__socials{
         display: flex;
         width: 260px;
         justify-content: space-between;
         margin-bottom: 5%;
      }
      &__corporate{
         width: 25%;
      }
      &__services{
         width: 25%;
      }
      &__list{
         display: block;
         line-height: 30px;
      }
      &__title-small{
         cursor:default;
         position: relative;
         font-size: 24px;
         font-weight: 700;
         margin: 0 0 15px;
         padding: 0;
         &::before, &::after{
            content: none;
         }
      }
      &__place{
         display: flex;
         justify-content: space-between;
         align-items: flex-end;
         margin-top: 25px;
         padding-right: 8%;
         width: 100%;
         line-height: 30px;
      }
      &__contact{
         margin-top: 15px;
      }
   }
}