.service-list{
   &__body{
      padding: 8%;
      margin: 10% 0;
   }
   &__list{
      border: 1px solid #51026C;
      border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);;
      border-image-slice: 1;
      border-radius: 2%;
      padding: 25px;
      font-size: 16px;
      opacity: 0.8;
   }
}