//Fonts
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
//font-family: 'Lexend Zetta', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari&display=swap');
//font-family: 'IBM Plex Sans Devanagari', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
//font-family: 'Open Sans', sans-serif;

//___________Variables___________
$fn-sz: 16px;
$fn-sz-mid: 18px;
$fn-sz-big: 20px;
$title-sz: 24px;
$title-mid-sz: 36px;
$title-big-sz: 56px;

$main-color:#0B0B0B;
$font-color: #FFFFFF;
@import "nullstyle";
/*Styles*/
//___________Classes___________
.body{
   font-family: 'Open Sans', sans-serif;
   font-size: $fn-sz;
   background-color: $main-color;
   color: $font-color;
   line-height: 24px;
}
.wrapper{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
}
@import "loadingScreen";
@import "header";
@import "intro";
@import "mainContent";
@import "footer";
@import "contact";
.scroll-lock{
   overflow: hidden;
}
.title{
   font-size: $title-mid-sz;
   font-weight: 700;
   margin-bottom: 10%;
   line-height: 46px;
}
.button{
   border: 1px solid #300ED2;
   border-image: linear-gradient(90deg, #300ED2 10%, #D501FF 90%);;
   border-image-slice: 0.5;
   border-image-width: 2px;
   border-radius: 6px;
   background-color: transparent;
   background-image:linear-gradient(90deg, #300ED2, #D501FF);;
   background-size: 0;
   background-repeat: no-repeat;
   color: $font-color;
   padding: 14px 32px;
   opacity: 1;
   font-size: 14px;
   font-weight: 600;
   transition: all 400ms ease;
   &:hover{
      background-size: 100%;
      transition: all 400ms ease;
   }
}
.button-filled{
   border-radius: 5px;
   background-image:linear-gradient(90deg, #300ED2, #D501FF ,#D501FF, #D501FF, #300ED2);;
   background-size: 300% 100%;
   padding: 17px 35px;
   color: $font-color;
   font-size: 14px;
   font-weight: 600;
   opacity: 1;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   transition: all 500ms ease-in-out;
   &:hover{
      background-position: 100% 5%;
      transition: all 500ms ease-in-out;
   }
}
.icon{
   margin-left: 8px;
}
.logo{
   font-family: 'Lexend Zetta', sans-serif;
      font-size: 16px;
      margin-bottom: 15px;
}
@media(min-width: 599px){
   .title{
      margin-bottom: 7%;
   }
}
@media(min-width: 765px){
   .mobile-menu__item:last-child{
      font-weight: 400;
      font-size: 24px;
   }
   .title{
      margin-bottom: 7%;
      font-size: $title-mid-sz;
   }
   .logo{
      font-size: 20px;
   }
}
@media(min-width: 1023px){
   .title{
      font-size: 56px;
      margin-bottom: 5%;
   }
}
@media(min-width: 1439px)
{
   .container{
      width: 1440px;
      margin: 0 auto
   }
}